<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
		<setting id="host" type="text" label="30041" default="" />
		<setting id="user" type="text" label="30042" default="" />
		<setting id="passwd" type="text" option="hidden" label="30043" default="" />
		<setting id="enc" type="labelenum" label="30049" values="STARTTLS|SSL/TLS|None" default="SSL/TLS" />
        <setting type="sep" />
        <setting id="sender" type="text" label="30044" default="" />
		<setting id="recipient" type="text" label="30045" default="" />
		<setting id="charset" type="text" label="30048" efault="ISO-8859-1" />
        <setting type="sep" />
		<setting id="checksettings" type="action" label="30054" option="close" action="RunScript(service.tvh.manager,checkmailsettings)" default="" />
</settings>
