<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="30020">
		<setting id="additional_timestamps" type="bool" label="30030" default="true" />
	</category>
	<category label="30021">
		<setting id="host" type="text" label="30041" default="" />
		<setting id="user" type="text" label="30042" default="" />
		<setting id="passwd" type="text" option="hidden" label="30043" default="" />
		<setting id="enc" type="labelenum" label="30049" values="STARTTLS|SSL/TLS|None" default="SSL/TLS" />
        <setting type="sep" />
        <setting id="sender" type="text" label="30044" default="" />
		<setting id="recipient" type="text" label="30045" default="" />
		<setting id="charset" type="text" label="30048" default="ISO-8859-1" />
        <setting type="sep" />
		<setting id="checksettings" type="action" label="30054" option="close" action="RunScript(service.calendar,action=check_mailsettings)" default="" />
	</category>
	<category label="30022">
		<setting id="requireauthkey" type="action" label="30080" option="close" action="RunScript(service.calendar,action=require_oauth_key)" default="" />
		<setting id="reenterauthkey" type="action" label="30084" option="close" action="RunScript(service.calendar,action=reenter_oauth_key)" default="" />
	</category>
</settings>
